<?xml version="1.0"?>
<launch>

    <node type="rviz" name="rviz" pkg="rviz"/>

<!--    <arg name="map_file" default="$(find ed_object_models)/models/hospital_test_amcl/walls/map_amcl.yaml" />-->
<!--	<arg name="map_file" default="$(find ropod_navigation_test)/config/amk-f064/map.yaml"/>-->
<!--    <arg name="map_file" default="/home/cesar/ropod-project-software/catkin_workspace/src/applications/occupancy_grids/tue/lab-level/map.yaml"/>-->
    <arg name="map_file" default="$(find ed_object_models)/models/tue_hallway_RLtoAL/walls/shape/map.yaml" />
<!--    <arg name="map_file" default="/home/bob/ropod-project-software/catkin_workspace/src/applications/occupancy_grids/brsu/brsu-c-floor0_osm/map.yaml" />-->

   <!-- Run the map server -->
     <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <node name="point_creator" pkg="napoleon_navigation" type="point_creator" output="screen"/>

</launch>
