<?xml version="1.0"?>
<launch>


    
    <node name="napoleon_navigation" pkg="napoleon_navigation" type="napoleon_navigation" output="screen">
     
        <rosparam file="$(find ropod_navigation_test)/config/parameters/costmap_common_params.yaml" command="load" ns="local_costmap" />    
        <rosparam file="$(find ropod_navigation_test)/config/parameters/footprint_ropod.yaml" command="load" ns="local_costmap" />       
        <rosparam file="$(find ropod_navigation_test)/config/parameters/local_costmap_params.yaml"  command="load"/>    
        <rosparam file="$(find ropod_navigation_test)/config/parameters/teb_local_planner_params_ropod.yaml" command="load" />     
        <param name="default_ropod_navigation_param_file" value ="$(find napoleon_navigation)/config/footprint_local_planner_params_ropod.yaml"/>
        <param name="default_ropod_load_navigation_param_file" value ="$(find napoleon_navigation)/config/footprint_local_planner_params_ropod_load.yaml"/>
        
        <!-- In Gazebo: -->
        <remap from="/napoleon_navigation/cmd_vel" to="/load/cmd_vel"/>
	<!-- On ropod: -->
	<!--<remap from="/napoleon_navigation/cmd_vel" to="/ropod_tue_1/cmd_vel"/>-->
        <remap from="odom" to="/load/odom"/>
        
    </node>        
        
    
</launch>
